USE [master]
GO
/****** Object:  Database [JOB_MANAGER_DB]    Script Date: 11.09.2021 16:48:46 ******/
CREATE DATABASE [JOB_MANAGER_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JOB_MANAGER_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JOB_MANAGER_DB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JOB_MANAGER_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JOB_MANAGER_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JOB_MANAGER_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JOB_MANAGER_DB]
GO
/****** Object:  Table [dbo].[PROJECT_TYPES]    Script Date: 11.09.2021 16:48:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT_TYPES](
	[PROJECT_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_TYPE_NAME] [nvarchar](150) NOT NULL,
	[PROJECT_TYPE_DESC] [nvarchar](max) NULL,
	[DEFAULT_SUPERVISOR] [int] NULL,
	[IS_DEFAULT] [bit] NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_PROJECT_TYPES] PRIMARY KEY CLUSTERED 
(
	[PROJECT_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 11.09.2021 16:48:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[EMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[LAST_NAME] [nvarchar](50) NOT NULL,
	[EMP_INITIALS] [nvarchar](10) NULL,
	[EMP_NUMBER] [nvarchar](50) NOT NULL,
	[EMP_PHONE] [nvarchar](max) NULL,
	[MOBILE_PHONE] [nvarchar](50) NULL,
	[PHONE_EXTENSION] [nvarchar](50) NULL,
	[ROLE_ID] [int] NOT NULL,
	[EMP_STATUS_ID] [smallint] NOT NULL,
	[TITLE_ID] [smallint] NULL,
	[DEPARTMENT_ID] [smallint] NOT NULL,
	[TEAM_LEADER_ID] [int] NULL,
	[CONTRACT_TYPE_ID] [smallint] NOT NULL,
	[SYSTEM_USERNAME] [nvarchar](50) NULL,
	[SYSTEM_PASSWORD] [nvarchar](max) NULL,
	[EMAIL_USERNAME] [nvarchar](256) NULL,
	[EMAIL_PASSWORD] [nvarchar](max) NULL,
	[HIRED_DATE] [datetime] NULL,
	[EMP_IMG] [image] NULL,
	[SHOW_SIGNATURE] [bit] NOT NULL,
	[SIGNATURE] [nvarchar](max) NULL,
	[IS_LOCKED] [bit] NOT NULL,
	[SECURITY_STAMP] [nvarchar](max) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
	[IS_SUPERVISOR] [bit] NOT NULL,
	[IS_DRIVER] [bit] NOT NULL,
	[CREATED_BY] [int] NULL,
	[UPDATED_BY] [int] NULL,
	[IS_INSTALLER] [bit] NOT NULL,
	[NAVBAR_CLASS] [nvarchar](max) NULL,
 CONSTRAINT [PK_EMPLOYEES] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 11.09.2021 16:48:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[STATUS_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[STATUS_TYPE] [int] NOT NULL,
	[STATUS_NAME] [nvarchar](250) NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[DISPLAY_CLASS] [nvarchar](50) NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTS]    Script Date: 11.09.2021 16:48:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTS](
	[CLIENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENT_NAME] [nvarchar](250) NOT NULL,
	[CLIENT_SHORT_NAME] [nvarchar](150) NOT NULL,
	[CLIENT_TYPE_ID] [smallint] NOT NULL,
	[CLIENT_STATUS_ID] [smallint] NOT NULL,
	[CLIENT_PHONE] [nvarchar](50) NULL,
	[CLIENT_URL] [nvarchar](250) NULL,
	[CLIENT_LINKEDIN] [nvarchar](250) NULL,
	[CLIENT_CODE] [nvarchar](50) NOT NULL,
	[CLIENT_COUNTRY] [int] NOT NULL,
	[CLIENT_STATE] [int] NOT NULL,
	[CLIENT_CITY] [int] NOT NULL,
	[CLIENT_ADDRESS] [nvarchar](max) NOT NULL,
	[CLIENT_SINCE] [datetime] NULL,
	[POSTAL_CODE] [nvarchar](50) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTS] PRIMARY KEY CLUSTERED 
(
	[CLIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACTS]    Script Date: 11.09.2021 16:48:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACTS](
	[CONTACT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENT_ID] [int] NOT NULL,
	[CONTACT_FIRST_NAME] [nvarchar](150) NOT NULL,
	[CONTACT_LAST_NAME] [nvarchar](150) NOT NULL,
	[CONTACT_STATUS] [smallint] NOT NULL,
	[CONTACT_ROLE] [int] NULL,
	[CONTACT_TITLE] [nvarchar](250) NULL,
	[CONTACT_PHONE] [nvarchar](150) NULL,
	[CONTACT_PHONE_EX] [nvarchar](50) NULL,
	[CONTACT_MOBILE] [nvarchar](150) NULL,
	[CONTACT_EMAIL] [nvarchar](150) NULL,
	[IS_PRIMARY] [bit] NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
 CONSTRAINT [PK_CONTACTS] PRIMARY KEY CLUSTERED 
(
	[CONTACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTS]    Script Date: 11.09.2021 16:48:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTS](
	[PROJECT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_NUMBER] [nvarchar](50) NOT NULL,
	[CLIENT_ID] [int] NOT NULL,
	[PROJECT_TYPE_ID] [int] NOT NULL,
	[PROJECT_NAME] [nvarchar](500) NOT NULL,
	[PROJECT_STATUS] [smallint] NOT NULL,
	[ADR_LOT_NBR] [nvarchar](50) NULL,
	[ADR_UNIT_NBR] [nvarchar](50) NULL,
	[ADR_STREET_NBR] [nvarchar](50) NULL,
	[ADR_STREET_NAME] [nvarchar](250) NOT NULL,
	[PROJECT_ADDRESS] [nvarchar](max) NOT NULL,
	[PROJECT_CITY] [int] NOT NULL,
	[PROJECT_STATE] [int] NOT NULL,
	[PROJECT_COUNTRY] [int] NOT NULL,
	[PROJECT_POSTAL_CODE] [nvarchar](50) NOT NULL,
	[CLIENT_PO_NBR] [nvarchar](150) NOT NULL,
	[PROJECT_AMOUNT] [decimal](18, 5) NOT NULL,
	[PROJECT_ESTIMATED_VAL] [decimal](18, 5) NOT NULL,
	[PROJECT_ACTUAL_VAL] [decimal](18, 5) NOT NULL,
	[CABINETS_NBR] [int] NOT NULL,
	[CLIENT_SUPRVISOR] [int] NULL,
	[PROJECT_SUPERVISOR] [int] NULL,
	[PROJECT_DESC] [nvarchar](max) NULL,
	[INSTALLATION_DATE] [datetime] NULL,
	[PROJECT_START_DATE] [datetime] NOT NULL,
	[PROJECT_END_DATE] [datetime] NULL,
	[PROJECT_PROGRESS] [int] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
	[USE_AS_TEMPLATE] [bit] NOT NULL,
	[TEMPLATE_NAME] [nvarchar](250) NULL,
	[DISPLAY] [bit] NOT NULL,
	[FLOOR_TYPE] [smallint] NOT NULL,
	[MATERIAL_ID] [int] NOT NULL,
	[STREET_SUFFIX_ID] [smallint] NULL,
	[QUOTE_ID] [int] NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[EVENT_SIZE] [int] NOT NULL,
	[INSTALLER_ID] [int] NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
 CONSTRAINT [PK_PROJECTS] PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIALS]    Script Date: 11.09.2021 16:48:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIALS](
	[MATERIAL_ID] [int] IDENTITY(1,1) NOT NULL,
	[MATERIAL_NAME] [nvarchar](250) NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_MATERIALS] PRIMARY KEY CLUSTERED 
(
	[MATERIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[JOB_CALENDAR_VIEW]    Script Date: 11.09.2021 16:48:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [dbo].[JOB_CALENDAR_VIEW]   AS  
   select PROJECT_ID,  
      TITLE = cast(CABINETS_NBR as nvarchar)+ ' - '+ p.PROJECT_NAME + ' - ' + c.CLIENT_SHORT_NAME + ' - ' + p.PROJECT_ADDRESS + (case when p.CLIENT_SUPRVISOR is not null then ' - ' + co.CONTACT_FIRST_NAME+''+co.CONTACT_LAST_NAME else '' end) +   
     (case when p.PROJECT_SUPERVISOR is not null then ' - ' + e.FIRST_NAME+''+e.LAST_NAME else '' end),    
      START_DATE =CONVERT(VARCHAR, p.INSTALLATION_DATE,120),  
   END_DATE = CONVERT(VARCHAR,DATEADD("mi",p.EVENT_SIZE ,p.INSTALLATION_DATE),120),  
      COLOR = ps.DISPLAY_CLASS,ps.STATUS_ID,    
      CONTENT = 'Job: '+ p.PROJECT_NUMBER+' / '+ p.PROJECT_NAME +'<br>Builder: '+c.CLIENT_SHORT_NAME+(case when p.CLIENT_SUPRVISOR is not null then '<br>Supervisor :' + co.CONTACT_FIRST_NAME+''+co.CONTACT_LAST_NAME else '' end)+'<br>PO#: '+p.CLIENT_PO_NBR
+'<br>Type: '+pt.PROJECT_TYPE_NAME+  
'<br>Status: '+ps.STATUS_NAME+'<br>Address: '+p.PROJECT_ADDRESS+'<br>Material: '+m.MATERIAL_NAME+'<br>Cabinets: '+cast(p.CABINETS_NBR as nvarchar)  
   from PROJECTS p    
     inner join CLIENTS c    
      on c.CLIENT_ID=p.CLIENT_ID    
     inner join PROJECT_TYPES pt    
       on pt.PROJECT_TYPE_ID=p.PROJECT_TYPE_ID    
     inner join STATUS ps    
       on ps.STATUS_ID=p.PROJECT_STATUS    
     inner join MATERIALS m    
      on m.MATERIAL_ID=p.MATERIAL_ID    
     left outer join contacts co     
      on co.CONTACT_ID=p.CLIENT_SUPRVISOR  
     left outer join employees e     
      on e.EMP_ID=p.PROJECT_SUPERVISOR    
   where p.IS_CANCELED = 0 and INSTALLATION_DATE is not null and P.USE_AS_TEMPLATE = 0--and p.COMPANY_ID=1 and    
GO
/****** Object:  Table [dbo].[PARAMETERS]    Script Date: 11.09.2021 16:48:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETERS](
	[IDENTID] [int] IDENTITY(1,1) NOT NULL,
	[PARAM_NAME] [nvarchar](max) NOT NULL,
	[PARAM_STR] [nvarchar](max) NULL,
	[PARAM_INT] [int] NULL,
	[PARAM_DT] [datetime] NULL,
	[PARAM_IMG] [image] NULL,
	[COMPANY_ID] [int] NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
 CONSTRAINT [PK_PARAMETERS] PRIMARY KEY CLUSTERED 
(
	[IDENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEF_PROJECT_PHASES]    Script Date: 11.09.2021 16:48:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEF_PROJECT_PHASES](
	[PHASE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PHASE_NAME] [nvarchar](250) NOT NULL,
	[PROJECT_TYPE_ID] [int] NOT NULL,
	[PHASE_ORDER] [smallint] NOT NULL,
	[PHASE_DESC] [nvarchar](max) NULL,
	[PHASE_COLOR] [nvarchar](50) NULL,
	[WIDGET_COLOR] [nvarchar](50) NULL,
	[CORRESPONDANT_STATUS] [smallint] NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_DEF_PROJECT_PHASES] PRIMARY KEY CLUSTERED 
(
	[PHASE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECT_PHASES]    Script Date: 11.09.2021 16:48:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT_PHASES](
	[PROJECT_PHASE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[PHASE_ID] [int] NOT NULL,
	[PHASE_ORDER] [int] NOT NULL,
	[SUPERVISOR_ID] [int] NULL,
	[PROJECT_PHASE_STATUS] [smallint] NOT NULL,
	[PROJECT_PHASE_PROGRESS] [int] NOT NULL,
	[PHASE_START_DATE] [datetime] NULL,
	[PHASE_END_DATE] [datetime] NULL,
	[PROJECT_PHASE_DESC] [nvarchar](max) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_PROJECT_PHASES] PRIMARY KEY CLUSTERED 
(
	[PROJECT_PHASE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[JOBSPHASESSUMMARY_VIEW]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [dbo].[JOBSPHASESSUMMARY_VIEW]    
AS    
SELECT COMPANY_ID,PROJECT_TYPE_ID,PROJECT_TYPE_NAME,PHASE_ID, PHASE_NAME,PHASE_ORDER,WIDGET_COLOR,COUNT    
FROM     
(    
 SELECT P.COMPANY_ID, PP.PHASE_ID,DP.PHASE_NAME,PP.PHASE_ORDER,DP.WIDGET_COLOR,P.PROJECT_TYPE_ID,PT.PROJECT_TYPE_NAME,COUNT = COUNT(P.PROJECT_TYPE_ID)    
 FROM PROJECT_PHASES PP(NOLOCK)    
 INNER JOIN DEF_PROJECT_PHASES DP(NOLOCK)     
  ON DP.PHASE_ID = PP.PHASE_ID      
 INNER JOIN PROJECTS P(NOLOCK)     
  ON PP.PROJECT_ID = P.PROJECT_ID    
 INNER JOIN PROJECT_TYPES PT(NOLOCK)    
  ON P.PROJECT_TYPE_ID = PT.PROJECT_TYPE_ID    
 WHERE PP.IS_CANCELED = 0 AND    
    PP.PROJECT_PHASE_STATUS NOT IN ( SELECT PARAM_INT FROM PARAMETERS(NOLOCK)    
         WHERE PARAM_NAME='PHASE_OR_TASK_COMPLATED_STATUS_ID'    
          )    
 GROUP BY P.COMPANY_ID,PP.PHASE_ID,DP.PHASE_NAME,PP.PHASE_ORDER,DP.WIDGET_COLOR,P.PROJECT_TYPE_ID,PT.PROJECT_TYPE_NAME     
) AS TBL    
UNION      
SELECT COMPANY_ID = -1, DP.PROJECT_TYPE_ID,PT.PROJECT_TYPE_NAME,DP.PHASE_ID,DP.PHASE_NAME,DP.PHASE_ORDER,DP.WIDGET_COLOR,COUNT = 0    
FROM  DEF_PROJECT_PHASES DP(NOLOCK)     
INNER JOIN PROJECT_TYPES PT(NOLOCK)    
 ON DP.PROJECT_TYPE_ID = PT.PROJECT_TYPE_ID    
WHERE DP.IS_CANCELED = 0     
AND NOT EXISTS    
( SELECT 1 FROM PROJECT_PHASES PP(NOLOCK)    
  WHERE DP.PHASE_ID = PP.PHASE_ID  AND PP.IS_CANCELED = 0  
)    
--Order by PROJECT_TYPE_NAME,PHASE_ORDER
GO
/****** Object:  View [dbo].[JOBSSUMMARY_VIEW]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[JOBSSUMMARY_VIEW]
AS
SELECT PROJECT_TYPE_ID,PROJECT_TYPE_NAME,COMPANY_ID,COUNT
FROM (
	SELECT  P.PROJECT_TYPE_ID,PT.PROJECT_TYPE_NAME,P.COMPANY_ID,COUNT = COUNT(P.PROJECT_TYPE_ID)
	FROM PROJECTS P(NOLOCK)
	INNER JOIN PROJECT_TYPES PT(NOLOCK)
		ON P.PROJECT_TYPE_ID = PT.PROJECT_TYPE_ID
	WHERE P.IS_CANCELED = 0 AND P.USE_AS_TEMPLATE = 0 AND
		  P.PROJECT_PROGRESS <> 100
	GROUP BY P.PROJECT_TYPE_ID,PT.PROJECT_TYPE_NAME,P.COMPANY_ID 
) AS TBL
UNION
SELECT PT.PROJECT_TYPE_ID,PT.PROJECT_TYPE_NAME,COMPANY_ID =-1,COUNT = 0
FROM PROJECT_TYPES PT(NOLOCK)
WHERE NOT EXISTS( SELECT 1 FROM PROJECTS P(NOLOCK)
				  WHERE P.PROJECT_TYPE_ID = PT.PROJECT_TYPE_ID AND
				        P.IS_CANCELED = 0 AND P.USE_AS_TEMPLATE = 0 AND
						P.PROJECT_PROGRESS <> 100
				)
GO
/****** Object:  Table [dbo].[PROJECT_TASK]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT_TASK](
	[PROJECT_TASK_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[PROJECT_PHASE_ID] [int] NOT NULL,
	[TASK_ID] [int] NULL,
	[TASK_ORDER] [smallint] NOT NULL,
	[PROJECT_TASK_NAME] [nvarchar](250) NOT NULL,
	[PROJECT_TASK_STATUS] [smallint] NOT NULL,
	[PROJECT_TASK_PROGRESS] [int] NOT NULL,
	[TASK_START_DATE] [datetime] NULL,
	[TASK_END_DATE] [datetime] NULL,
	[PROJECT_TASK_DESC] [nvarchar](max) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_PROJECT_TASK] PRIMARY KEY CLUSTERED 
(
	[PROJECT_TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECT_MEMBERS]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT_MEMBERS](
	[PROJECT_MEMBER_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[PROJECT_PHASE_ID] [int] NULL,
	[PROJECT_TASK_ID] [int] NULL,
	[SUPERVISOR_ID] [int] NULL,
	[IS_SUPERVISOR] [bit] NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_PROJECT_MEMBERS] PRIMARY KEY CLUSTERED 
(
	[PROJECT_MEMBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TITLES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TITLES](
	[TITLE_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[TITLE_NAME] [nvarchar](150) NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
 CONSTRAINT [PK_TITLES] PRIMARY KEY CLUSTERED 
(
	[TITLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PROJECT_MEMBER_VIEW]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [dbo].[PROJECT_MEMBER_VIEW] AS      
select       
    PROJECT_MEMBER_ID = P.PROJECT_MEMBER_ID,          
    P.EMPLOYEE_ID,    
    EMP_NAME = E.FIRST_NAME +' '+ E.LAST_NAME,    
	E.EMP_IMG,
 IS_SUPERVISOR = P.IS_SUPERVISOR ,      
 P.SUPERVISOR_ID,  
 SUP_NAME = S.FIRST_NAME +' '+ S.LAST_NAME,    
 SUP_IMG = E.EMP_IMG,
    TITLE_ID = T.TITLE_ID,      
    TITLE_NAME = T.TITLE_NAME,      
    PROJECT_PHASE_ID = PH.PROJECT_PHASE_ID,      
    PHASE_NAME = PH.PHASE_NAME,      
    TASK_ID = PT.PROJECT_TASK_ID,      
    TASK_NAME = PT.PROJECT_TASK_NAME,      
 P.PROJECT_ID      
from PROJECT_MEMBERS P(nolock)      
INNER JOIN EMPLOYEES E(NOLOCK) ON P.EMPLOYEE_ID = E.EMP_ID      
INNER JOIN TITLES T(NOLOCK) ON E.TITLE_ID = T.TITLE_ID      
LEFT OUTER JOIN EMPLOYEES S(NOLOCK) ON P.SUPERVISOR_ID = S.EMP_ID      
LEFT OUTER JOIN PROJECT_TASK PT(NOLOCK)      
 ON P.PROJECT_TASK_ID = PT.PROJECT_TASK_ID      
LEFT OUTER JOIN ( SELECT PP.PROJECT_PHASE_ID,D.PHASE_NAME FROM PROJECT_PHASES PP(NOLOCK)      
      INNER JOIN DEF_PROJECT_PHASES D(NOLOCK) ON PP.PHASE_ID = D.PHASE_ID      
      WHERE D.IS_CANCELED = 0      
    ) AS PH ON PH.PROJECT_PHASE_ID = P.PROJECT_PHASE_ID      
WHERE P.IS_CANCELED = 0
GO
/****** Object:  Table [dbo].[NOTE_TYPES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTE_TYPES](
	[NOTE_TYPE_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[NOTE_TYPE_NAME] [nvarchar](250) NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_NOTE_TYPES] PRIMARY KEY CLUSTERED 
(
	[NOTE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTES](
	[NOTE_ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIQ_ID] [int] NOT NULL,
	[NOTE_KIND_ID] [smallint] NOT NULL,
	[NOTE_TYPE_ID] [smallint] NOT NULL,
	[NOTE_DESC] [nvarchar](max) NOT NULL,
	[NOTE_SUBJECT] [nvarchar](250) NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[PHASE_ID] [int] NULL,
	[TASK_ID] [int] NULL,
	[SET_REMINDER] [bit] NULL,
	[REMINDER_DATE] [datetime] NULL,
	[ASSINGED_MEMBERS] [varchar](250) NULL,
	[TO_REMINDER] [varchar](250) NULL,
 CONSTRAINT [PK_NOTES] PRIMARY KEY CLUSTERED 
(
	[NOTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[NOTE_VIEW]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[NOTE_VIEW]   
AS  
select   
 N.NOTE_ID,  
 N.UNIQ_ID,  
 N.NOTE_KIND_ID,  
 N.NOTE_DESC,  
 N.NOTE_SUBJECT,  
 N.NOTE_TYPE_ID,  
 NT.NOTE_TYPE_NAME,  
 N.PHASE_ID,  
 PHASE_NAME = PH.PHASE_NAME,  
 N.TASK_ID,  
 TASK_NAME = PT.PROJECT_TASK_NAME,  
 N.SET_REMINDER,  
 N.ASSINGED_MEMBERS,  
 N.REMINDER_DATE,  
 N.TO_REMINDER,  
 N.MODIFIED_DATE,  
 N.CREATION_DATE,  
 UPDATE_BY = E.FIRST_NAME+' '+E.LAST_NAME  
FROM NOTES N(NOLOCK)  
INNER JOIN NOTE_TYPES NT(NOLOCK)   
 ON N.NOTE_TYPE_ID =  NT.NOTE_TYPE_ID  
LEFT OUTER JOIN PROJECT_TASK PT(NOLOCK)      
 ON N.TASK_ID = PT.PROJECT_TASK_ID      
LEFT OUTER JOIN ( SELECT PP.PROJECT_PHASE_ID,D.PHASE_NAME FROM PROJECT_PHASES PP(NOLOCK)      
      INNER JOIN DEF_PROJECT_PHASES D(NOLOCK) ON PP.PHASE_ID = D.PHASE_ID      
      WHERE D.IS_CANCELED = 0      
    ) AS PH ON PH.PROJECT_PHASE_ID = N.PHASE_ID      
LEFT OUTER JOIN EMPLOYEES E(NOLOCK)  
 ON E.EMP_ID = N.UPDATED_BY  
WHERE N.IS_CANCELED = 0  
GO
/****** Object:  Table [dbo].[DOCUMENT_TYPES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_TYPES](
	[DOCUMENT_TYPE_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_TYPE_NAME] [nvarchar](150) NOT NULL,
	[DOCUMENT_EXTENSION] [nvarchar](50) NOT NULL,
	[FONT_AWESOME_ICON] [nvarchar](50) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_DOCUMENT_TYPES] PRIMARY KEY CLUSTERED 
(
	[DOCUMENT_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTS]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTS](
	[DOC_ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIQ_ID] [int] NOT NULL,
	[DOCUMENT_TYPE_ID] [smallint] NOT NULL,
	[DOC_NAME] [nvarchar](250) NOT NULL,
	[DOC_PATH] [nvarchar](500) NOT NULL,
	[DOC_DESC] [nvarchar](max) NULL,
	[TASK_ID] [int] NULL,
	[PHASE_ID] [int] NULL,
	[NOTE_ID] [int] NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[DOC_KIND] [int] NULL,
 CONSTRAINT [PK_DOCUMENTS] PRIMARY KEY CLUSTERED 
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[DOC_VIEW]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DOC_VIEW]     
AS    

SELECT D.DOC_ID,D.DOC_KIND,D.UNIQ_ID,D.DOCUMENT_TYPE_ID,DT.DOCUMENT_TYPE_NAME,
DT.FONT_AWESOME_ICON,D.DOC_NAME,D.DOC_PATH,D.DOC_DESC,
D.TASK_ID,PT.PROJECT_TASK_NAME,D.PHASE_ID,PH.PHASE_NAME,
D.NOTE_ID,N.NOTE_DESC,
UPDATE_BY = E.FIRST_NAME+' '+E.LAST_NAME    
FROM DOCUMENTS D(NOLOCK)
INNER JOIN DOCUMENT_TYPES DT(NOLOCK)
	ON DT.DOCUMENT_TYPE_ID = D.DOCUMENT_TYPE_ID
LEFT OUTER JOIN PROJECT_TASK PT(NOLOCK)        
 ON D.TASK_ID = PT.PROJECT_TASK_ID        
LEFT OUTER JOIN ( SELECT PP.PROJECT_PHASE_ID,D.PHASE_NAME FROM PROJECT_PHASES PP(NOLOCK)        
      INNER JOIN DEF_PROJECT_PHASES D(NOLOCK) ON PP.PHASE_ID = D.PHASE_ID        
      WHERE D.IS_CANCELED = 0        
    ) AS PH ON PH.PROJECT_PHASE_ID = D.PHASE_ID        
LEFT OUTER JOIN EMPLOYEES E(NOLOCK)    
 ON E.EMP_ID = D.UPDATED_BY    
 LEFT OUTER JOIN NOTES N(NOLOCK)        
 ON D.NOTE_ID = N.NOTE_ID
 WHERE D.IS_CANCELED = 0 

 --GRANT ALL ON DOC_VIEW TO PUBLIC
GO
/****** Object:  Table [dbo].[CITIES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITIES](
	[CITY_ID] [int] IDENTITY(1,1) NOT NULL,
	[STATE_ID] [int] NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[POSTAL_CODE] [nvarchar](50) NULL,
	[CITY_NAME] [nvarchar](250) NOT NULL,
	[IS_DEFAULT] [bit] NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_CITIES] PRIMARY KEY CLUSTERED 
(
	[CITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[COMPANY_ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_CODE] [nvarchar](50) NOT NULL,
	[COMPANY_NAME] [nvarchar](150) NOT NULL,
	[COMPANY_TYPE_ID] [smallint] NOT NULL,
	[COMPANY_COUNTRY] [int] NOT NULL,
	[COMPANY_STATE] [int] NOT NULL,
	[COMPANY_CITY] [int] NOT NULL,
	[COMPANY_ADDRESS] [nvarchar](500) NOT NULL,
	[POSTAL_CODE] [nvarchar](50) NOT NULL,
	[WEB_URL] [nvarchar](150) NULL,
	[COMPANY_ABN] [nvarchar](150) NULL,
	[COMPANY_PHONE] [nvarchar](150) NULL,
	[COMPANY_OWNER] [nvarchar](250) NULL,
	[COMPANY_LINKED_IN] [nvarchar](250) NULL,
	[COMPANY_LOGO] [image] NULL,
	[COMPANY_DESC] [nvarchar](max) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_COMPANY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANY_TYPES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY_TYPES](
	[COMPANY_TYPE_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[COMPANY_TYPE_NAME] [nvarchar](100) NOT NULL,
	[COMPANY_TYPE_DESC] [nvarchar](max) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_company_types] PRIMARY KEY CLUSTERED 
(
	[COMPANY_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTRACT_TYPES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRACT_TYPES](
	[CONTRACT_TYPE_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[CONTRACT_TYPE_NAME] [nvarchar](150) NOT NULL,
	[CONTRACT_TYPE_CODE] [nvarchar](50) NOT NULL,
	[CONTRACT_TYPE_DESC] [nvarchar](max) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
 CONSTRAINT [PK_CONTRACT_TYPES] PRIMARY KEY CLUSTERED 
(
	[CONTRACT_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRIES](
	[COUNTRY_ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_NAME] [nvarchar](150) NOT NULL,
	[COUNTRY_CODE] [nvarchar](50) NOT NULL,
	[FLAG_URL] [nvarchar](50) NOT NULL,
	[IS_DEFAULT] [bit] NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_COUNTRIES] PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEF_TASKS]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEF_TASKS](
	[TASK_ID] [int] IDENTITY(1,1) NOT NULL,
	[TASK_NAME] [nvarchar](250) NOT NULL,
	[PROJECT_TYPE_ID] [int] NOT NULL,
	[PHASE_ID] [int] NOT NULL,
	[TASK_ORDER] [int] NOT NULL,
	[TASK_DESC] [nvarchar](max) NULL,
	[COMPLETE_ON_UPLOAD] [bit] NOT NULL,
	[ALLOCATE_SUPERVISOR] [int] NOT NULL,
	[MEMBERS] [nvarchar](250) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_DEF_TASKS] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[DEPARTMENT_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[DEPARTMENT_NAME] [nvarchar](150) NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
 CONSTRAINT [PK_DEPARTMENTS] PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLOOR_TYPES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLOOR_TYPES](
	[FLOOR_TYPE_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[FLOOR_TYPE_NAME] [nvarchar](150) NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_floor_types] PRIMARY KEY CLUSTERED 
(
	[FLOOR_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOLIDAYS]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOLIDAYS](
	[HOLIDAY_ID] [int] IDENTITY(1,1) NOT NULL,
	[HOLIDAY_NAME] [nvarchar](150) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[HOLIDAY_DESC] [nvarchar](max) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
 CONSTRAINT [PK_holidays] PRIMARY KEY CLUSTERED 
(
	[HOLIDAY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Detail] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[Audit] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUOTES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOTES](
	[QUOTE_ID] [int] IDENTITY(1,1) NOT NULL,
	[QUOTE_NUMBER] [nvarchar](50) NOT NULL,
	[CLIENT_ID] [int] NOT NULL,
	[PROJECT_TYPE_ID] [int] NOT NULL,
	[QUOTE_NAME] [nvarchar](500) NOT NULL,
	[QUOTE_STATUS] [smallint] NOT NULL,
	[ADR_LOT_NBR] [nvarchar](50) NULL,
	[ADR_UNIT_NBR] [nvarchar](50) NULL,
	[ADR_STREET_NBR] [nvarchar](50) NULL,
	[ADR_STREET_NAME] [nvarchar](250) NOT NULL,
	[QUOTE_ADDRESS] [nvarchar](max) NOT NULL,
	[QUOTE_CITY] [int] NOT NULL,
	[QUOTE_STATE] [int] NOT NULL,
	[QUOTE_COUNTRY] [int] NOT NULL,
	[QUOTE_POSTAL_CODE] [nvarchar](50) NOT NULL,
	[QUOTE_AMOUNT] [decimal](18, 5) NOT NULL,
	[CABINETS_NBR] [int] NOT NULL,
	[QUOTE_DESC] [nvarchar](max) NULL,
	[QUOTE_START_DATE] [datetime] NOT NULL,
	[QUOTE_EXPIRY_DATE] [datetime] NULL,
	[DISPLAY] [bit] NOT NULL,
	[FLOOR_TYPE] [smallint] NOT NULL,
	[MATERIAL_ID] [int] NOT NULL,
	[STREET_SUFFIX_ID] [smallint] NULL,
	[CONTACT_DESC] [nvarchar](max) NULL,
	[USE_AS_TEMPLATE] [bit] NOT NULL,
	[TEMPLATE_NAME] [nvarchar](250) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
 CONSTRAINT [PK_QUOTES] PRIMARY KEY CLUSTERED 
(
	[QUOTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_MENU]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_MENU](
	[MENU_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [int] NOT NULL,
	[MENUS_STR] [varchar](max) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NULL,
	[UPDATED_BY] [int] NULL,
 CONSTRAINT [PK_ROLE_MENU] PRIMARY KEY CLUSTERED 
(
	[MENU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](50) NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NULL,
	[UPDATED_BY] [int] NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATES](
	[STATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[STATE_NAME] [nvarchar](150) NOT NULL,
	[STATE_ABBREVIATION] [nvarchar](50) NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[IS_DEFAULT] [bit] NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_STATES] PRIMARY KEY CLUSTERED 
(
	[STATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STREET]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STREET](
	[STREET_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[STREET_NAME] [nvarchar](150) NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_STREET] PRIMARY KEY CLUSTERED 
(
	[STREET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPERVISOR_AREAS]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPERVISOR_AREAS](
	[EMPLOYEE_ID] [int] NOT NULL,
	[CITY_ID] [int] NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_SUPERVISOR_AREAS] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC,
	[CITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIERS]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIERS](
	[SUPPLIER_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUPPLIER_NAME] [nvarchar](250) NOT NULL,
	[SUPPLIER_NUMBER] [nvarchar](150) NOT NULL,
	[SUPPLIER_STATUS_ID] [smallint] NOT NULL,
	[SUPPLIER_PHONE] [nvarchar](50) NULL,
	[SUPPLIER_EMAIL] [nvarchar](150) NULL,
	[SUPPLIER_URL] [nvarchar](250) NULL,
	[SUPPLIER_COUNTRY] [int] NOT NULL,
	[SUPPLIER_STATE] [int] NOT NULL,
	[SUPPLIER_CITY] [int] NOT NULL,
	[SUPPLIER_ADDRESS] [nvarchar](max) NOT NULL,
	[POSTAL_CODE] [nvarchar](50) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
 CONSTRAINT [PK_SUPPLIERS] PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICLE_BODY_TYPES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICLE_BODY_TYPES](
	[BODY_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[BODY_TYPE_NAME] [nvarchar](150) NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_vehicle_body_types] PRIMARY KEY CLUSTERED 
(
	[BODY_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICLE_MAKES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICLE_MAKES](
	[VEHICLE_MAKE_ID] [int] IDENTITY(1,1) NOT NULL,
	[VEHICLE_MAKE_NAME] [nvarchar](250) NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_VEHICLE_MAKES] PRIMARY KEY CLUSTERED 
(
	[VEHICLE_MAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICLE_MODELS]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICLE_MODELS](
	[VEHICLE_MODEL_ID] [int] IDENTITY(1,1) NOT NULL,
	[VEHICLE_MODEL_NAME] [nvarchar](150) NOT NULL,
	[VEHICLE_MAKE_ID] [int] NOT NULL,
	[BODY_TYPE] [int] NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
 CONSTRAINT [PK_VEHICLE_MODELS] PRIMARY KEY CLUSTERED 
(
	[VEHICLE_MODEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICLES]    Script Date: 11.09.2021 16:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICLES](
	[VEHICLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[VEHICLE_NBR] [nvarchar](50) NOT NULL,
	[VEHICLE_STATUS] [smallint] NOT NULL,
	[VEHICLE_MODEL_ID] [int] NULL,
	[VEHICLE_MAKE_ID] [int] NULL,
	[BODY_TYPE_ID] [int] NULL,
	[CURRENT_DRIVER] [int] NULL,
	[REGISTRATION_NUMBER] [nvarchar](150) NULL,
	[REGISTRATION_EXPIRY] [datetime] NULL,
	[ASSIGNED_TAG] [nvarchar](150) NULL,
	[VEHICLE_DESC] [nvarchar](max) NULL,
	[VEHICLE_YEAR] [int] NULL,
	[VEHICLE_COLOR] [nvarchar](50) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[MODIFIED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
	[IS_CANCELED] [bit] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
 CONSTRAINT [PK_VEHICLES] PRIMARY KEY CLUSTERED 
(
	[VEHICLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [NCU_EMP_COMPANY_ID]    Script Date: 11.09.2021 16:48:47 ******/
CREATE NONCLUSTERED INDEX [NCU_EMP_COMPANY_ID] ON [dbo].[EMPLOYEES]
(
	[COMPANY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NCU_EMP_CONTRACT_TYPE_ID]    Script Date: 11.09.2021 16:48:47 ******/
CREATE NONCLUSTERED INDEX [NCU_EMP_CONTRACT_TYPE_ID] ON [dbo].[EMPLOYEES]
(
	[CONTRACT_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NCU_EMP_DEPARTMENT_ID]    Script Date: 11.09.2021 16:48:47 ******/
CREATE NONCLUSTERED INDEX [NCU_EMP_DEPARTMENT_ID] ON [dbo].[EMPLOYEES]
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NCU_EMP_ROLE_ID]    Script Date: 11.09.2021 16:48:47 ******/
CREATE NONCLUSTERED INDEX [NCU_EMP_ROLE_ID] ON [dbo].[EMPLOYEES]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NCU_EMP_STATUS_ID]    Script Date: 11.09.2021 16:48:47 ******/
CREATE NONCLUSTERED INDEX [NCU_EMP_STATUS_ID] ON [dbo].[EMPLOYEES]
(
	[EMP_STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NCU_EMP_TITLE_ID]    Script Date: 11.09.2021 16:48:47 ******/
CREATE NONCLUSTERED INDEX [NCU_EMP_TITLE_ID] ON [dbo].[EMPLOYEES]
(
	[TITLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CITIES] ADD  CONSTRAINT [DF_CITIES_IS_DEFAULT]  DEFAULT ((0)) FOR [IS_DEFAULT]
GO
ALTER TABLE [dbo].[CITIES] ADD  CONSTRAINT [DF_CITIES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[CITIES] ADD  CONSTRAINT [DF_CITIES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[CITIES] ADD  CONSTRAINT [DF_CITIES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[CITIES] ADD  CONSTRAINT [DF_CITIES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[CITIES] ADD  CONSTRAINT [DF_CITIES_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[CLIENTS] ADD  CONSTRAINT [DF_CLIENTS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[CLIENTS] ADD  CONSTRAINT [DF_CLIENTS_MODIFICATION_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[CLIENTS] ADD  CONSTRAINT [DF_CLIENTS_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[CLIENTS] ADD  CONSTRAINT [DF_CLIENTS_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[CLIENTS] ADD  CONSTRAINT [DF_CLIENTS_MODIFIED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[CLIENTS] ADD  CONSTRAINT [DF_CLIENTS_COMPANY_ID]  DEFAULT ((-1)) FOR [COMPANY_ID]
GO
ALTER TABLE [dbo].[COMPANY] ADD  CONSTRAINT [DF_COMPANY_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[COMPANY] ADD  CONSTRAINT [DF_COMPANY_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[COMPANY] ADD  CONSTRAINT [DF_COMPANY_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[COMPANY] ADD  CONSTRAINT [DF_COMPANY_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[COMPANY] ADD  CONSTRAINT [DF_COMPANY_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[COMPANY_TYPES] ADD  CONSTRAINT [DF_COMPANY_TYPES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[COMPANY_TYPES] ADD  CONSTRAINT [DF_COMPANY_TYPES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[COMPANY_TYPES] ADD  CONSTRAINT [DF_COMPANY_TYPES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[COMPANY_TYPES] ADD  CONSTRAINT [DF_COMPANY_TYPES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[COMPANY_TYPES] ADD  CONSTRAINT [DF_COMPANY_TYPES_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[CONTACTS] ADD  CONSTRAINT [DF_CONTACTS_PRIMARY_CONTACT]  DEFAULT ((0)) FOR [IS_PRIMARY]
GO
ALTER TABLE [dbo].[CONTACTS] ADD  CONSTRAINT [DF_CONTACTS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[CONTACTS] ADD  CONSTRAINT [DF_CONTACTS_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[CONTACTS] ADD  CONSTRAINT [DF_CONTACTS_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[CONTACTS] ADD  CONSTRAINT [DF_CONTACTS_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[CONTACTS] ADD  CONSTRAINT [DF_CONTACTS_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[CONTACTS] ADD  CONSTRAINT [DF_CONTACTS_COMPANY_ID]  DEFAULT ((-1)) FOR [COMPANY_ID]
GO
ALTER TABLE [dbo].[CONTRACT_TYPES] ADD  CONSTRAINT [DF_CONTRACT_TYPES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[CONTRACT_TYPES] ADD  CONSTRAINT [DF_CONTRACT_TYPES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[CONTRACT_TYPES] ADD  CONSTRAINT [DF_CONTRACT_TYPES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[CONTRACT_TYPES] ADD  CONSTRAINT [DF_CONTRACT_TYPES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[CONTRACT_TYPES] ADD  CONSTRAINT [DF_CONTRACT_TYPES_IS_DELETED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[CONTRACT_TYPES] ADD  CONSTRAINT [DF_CONTRACT_TYPES_COMPANY_ID]  DEFAULT ((-1)) FOR [COMPANY_ID]
GO
ALTER TABLE [dbo].[COUNTRIES] ADD  CONSTRAINT [DF_COUNTRIES_IS_DEFAULT]  DEFAULT ((0)) FOR [IS_DEFAULT]
GO
ALTER TABLE [dbo].[COUNTRIES] ADD  CONSTRAINT [DF_COUNTRIES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[COUNTRIES] ADD  CONSTRAINT [DF_COUNTRIES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[COUNTRIES] ADD  CONSTRAINT [DF_COUNTRIES_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[DEF_PROJECT_PHASES] ADD  CONSTRAINT [DF_DEF_PROJECT_PHASES_PHASE_ORDER]  DEFAULT ((0)) FOR [PHASE_ORDER]
GO
ALTER TABLE [dbo].[DEF_PROJECT_PHASES] ADD  CONSTRAINT [DF_DEF_PROJECT_PHASES_CREATION_DATE_1]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[DEF_PROJECT_PHASES] ADD  CONSTRAINT [DF_DEF_PROJECT_PHASES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[DEF_PROJECT_PHASES] ADD  CONSTRAINT [DF_DEF_PROJECT_PHASES_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[DEF_TASKS] ADD  CONSTRAINT [DF_DEF_TASKS_TASK_ORDER]  DEFAULT ((0)) FOR [TASK_ORDER]
GO
ALTER TABLE [dbo].[DEF_TASKS] ADD  DEFAULT ((0)) FOR [COMPLETE_ON_UPLOAD]
GO
ALTER TABLE [dbo].[DEF_TASKS] ADD  DEFAULT ((0)) FOR [ALLOCATE_SUPERVISOR]
GO
ALTER TABLE [dbo].[DEF_TASKS] ADD  CONSTRAINT [DF_DEF_TASKS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[DEF_TASKS] ADD  CONSTRAINT [DF_DEF_TASKS_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[DEF_TASKS] ADD  CONSTRAINT [DF_DEF_TASKS_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[DEPARTMENTS] ADD  CONSTRAINT [DF_DEPARTMENTS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[DEPARTMENTS] ADD  CONSTRAINT [DF_DEPARTMENTS_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[DEPARTMENTS] ADD  CONSTRAINT [DF_DEPARTMENTS_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[DEPARTMENTS] ADD  CONSTRAINT [DF_DEPARTMENTS_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[DEPARTMENTS] ADD  CONSTRAINT [DF_DEPARTMENTS_IS_DELETED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[DEPARTMENTS] ADD  CONSTRAINT [DF_DEPARTMENTS_COMPANY_ID]  DEFAULT ((-1)) FOR [COMPANY_ID]
GO
ALTER TABLE [dbo].[DOCUMENT_TYPES] ADD  CONSTRAINT [DF_DOCUMENT_TYPES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[DOCUMENT_TYPES] ADD  CONSTRAINT [DF_DOCUMENT_TYPES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[DOCUMENT_TYPES] ADD  CONSTRAINT [DF_DOCUMENT_TYPES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[DOCUMENT_TYPES] ADD  CONSTRAINT [DF_DOCUMENT_TYPES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[DOCUMENT_TYPES] ADD  CONSTRAINT [DF_DOCUMENT_TYPES_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[DOCUMENTS] ADD  CONSTRAINT [DF_DOCUMENTS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[DOCUMENTS] ADD  CONSTRAINT [DF_DOCUMENTS_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[DOCUMENTS] ADD  CONSTRAINT [DF_DOCUMENTS_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[DOCUMENTS] ADD  CONSTRAINT [DF_DOCUMENTS_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[DOCUMENTS] ADD  CONSTRAINT [DF_DOCUMENTS_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[EMPLOYEES] ADD  CONSTRAINT [DP_EMP_SHOW_SIGNATURE]  DEFAULT ((0)) FOR [SHOW_SIGNATURE]
GO
ALTER TABLE [dbo].[EMPLOYEES] ADD  CONSTRAINT [DP_EMP_IS_LOCKED]  DEFAULT ((0)) FOR [IS_LOCKED]
GO
ALTER TABLE [dbo].[EMPLOYEES] ADD  CONSTRAINT [DP_EMP_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[EMPLOYEES] ADD  CONSTRAINT [DP_EMP_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[EMPLOYEES] ADD  CONSTRAINT [DP_EMP_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[EMPLOYEES] ADD  CONSTRAINT [DP_EMP_COMPANY_ID]  DEFAULT ((-1)) FOR [COMPANY_ID]
GO
ALTER TABLE [dbo].[EMPLOYEES] ADD  CONSTRAINT [DP_EMP_IS_SUPERVISOR]  DEFAULT ((0)) FOR [IS_SUPERVISOR]
GO
ALTER TABLE [dbo].[EMPLOYEES] ADD  CONSTRAINT [DP_EMP_IS_DRIVER]  DEFAULT ((0)) FOR [IS_DRIVER]
GO
ALTER TABLE [dbo].[EMPLOYEES] ADD  DEFAULT ((0)) FOR [IS_INSTALLER]
GO
ALTER TABLE [dbo].[FLOOR_TYPES] ADD  CONSTRAINT [DF_FLOOR_TYPES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[FLOOR_TYPES] ADD  CONSTRAINT [DF_FLOOR_TYPES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[FLOOR_TYPES] ADD  CONSTRAINT [DF_FLOOR_TYPES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[FLOOR_TYPES] ADD  CONSTRAINT [DF_FLOOR_TYPES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[FLOOR_TYPES] ADD  CONSTRAINT [DF_FLOOR_TYPES_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[HOLIDAYS] ADD  CONSTRAINT [DF_HOLIDAYS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[HOLIDAYS] ADD  CONSTRAINT [DF_HOLIDAYS_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[HOLIDAYS] ADD  CONSTRAINT [DF_HOLIDAYS_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[MATERIALS] ADD  CONSTRAINT [DF_MATERIALS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[MATERIALS] ADD  CONSTRAINT [DF_MATERIALS_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[MATERIALS] ADD  CONSTRAINT [DF_MATERIALS_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[MATERIALS] ADD  CONSTRAINT [DF_MATERIALS_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[MATERIALS] ADD  CONSTRAINT [DF_MATERIALS_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[NOTE_TYPES] ADD  CONSTRAINT [DF_NOTE_TYPES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[NOTE_TYPES] ADD  CONSTRAINT [DF_NOTE_TYPES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[NOTE_TYPES] ADD  CONSTRAINT [DF_NOTE_TYPES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[NOTE_TYPES] ADD  CONSTRAINT [DF_NOTE_TYPES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[NOTE_TYPES] ADD  CONSTRAINT [DF_NOTE_TYPES_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[NOTES] ADD  CONSTRAINT [DF_NOTES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[NOTES] ADD  CONSTRAINT [DF_NOTES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[NOTES] ADD  CONSTRAINT [DF_NOTES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[NOTES] ADD  CONSTRAINT [DF_NOTES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[NOTES] ADD  CONSTRAINT [DF_NOTES_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[PARAMETERS] ADD  CONSTRAINT [DF_PARAMETERS_COMPANY_ID]  DEFAULT ((-1)) FOR [COMPANY_ID]
GO
ALTER TABLE [dbo].[PARAMETERS] ADD  CONSTRAINT [DF_PARAMETERS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[PARAMETERS] ADD  CONSTRAINT [DF_PARAMETERS_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[PARAMETERS] ADD  CONSTRAINT [DF_PARAMETERS_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[PARAMETERS] ADD  CONSTRAINT [DF_PARAMETERS_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS] ADD  CONSTRAINT [DF_PROJECT_MEMBERS_IS_SUPERVISOR]  DEFAULT ((0)) FOR [IS_SUPERVISOR]
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS] ADD  CONSTRAINT [DF_PROJECT_MEMBERS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS] ADD  CONSTRAINT [DF_PROJECT_MEMBERS_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS] ADD  CONSTRAINT [DF_PROJECT_MEMBERS_CREATED_BY_1]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS] ADD  CONSTRAINT [DF_PROJECT_MEMBERS_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS] ADD  CONSTRAINT [DF_PROJECT_MEMBERS_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[PROJECT_PHASES] ADD  CONSTRAINT [DF_PROJECT_PHASES_PHASE_PROGRESS]  DEFAULT ((0)) FOR [PROJECT_PHASE_PROGRESS]
GO
ALTER TABLE [dbo].[PROJECT_PHASES] ADD  CONSTRAINT [DF_PROJECT_PHASES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[PROJECT_PHASES] ADD  CONSTRAINT [DF_PROJECT_PHASES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[PROJECT_PHASES] ADD  CONSTRAINT [DF_PROJECT_PHASES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[PROJECT_PHASES] ADD  CONSTRAINT [DF_PROJECT_PHASES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[PROJECT_PHASES] ADD  CONSTRAINT [DF_PROJECT_PHASES_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[PROJECT_TASK] ADD  CONSTRAINT [DF_PROJECT_TASK_TASK_ORDER]  DEFAULT ((0)) FOR [TASK_ORDER]
GO
ALTER TABLE [dbo].[PROJECT_TASK] ADD  CONSTRAINT [DF_PROJECT_TASK_PROGRESS]  DEFAULT ((0)) FOR [PROJECT_TASK_PROGRESS]
GO
ALTER TABLE [dbo].[PROJECT_TASK] ADD  CONSTRAINT [DF_PROJECT_TASK_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[PROJECT_TASK] ADD  CONSTRAINT [DF_PROJECT_TASK_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[PROJECT_TASK] ADD  CONSTRAINT [DF_PROJECT_TASK_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[PROJECT_TASK] ADD  CONSTRAINT [DF_PROJECT_TASK_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[PROJECT_TASK] ADD  CONSTRAINT [DF_PROJECT_TASK_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[PROJECT_TYPES] ADD  CONSTRAINT [DF_PROJECT_TYPES_IS_DEFAULT]  DEFAULT ((0)) FOR [IS_DEFAULT]
GO
ALTER TABLE [dbo].[PROJECT_TYPES] ADD  CONSTRAINT [DF_PROJECT_TYPES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[PROJECT_TYPES] ADD  CONSTRAINT [DF_PROJECT_TYPES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[PROJECT_TYPES] ADD  CONSTRAINT [DF_PROJECT_TYPES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[PROJECT_TYPES] ADD  CONSTRAINT [DF_PROJECT_TYPES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[PROJECT_TYPES] ADD  CONSTRAINT [DF_PROJECT_TYPES_IS_DELETED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  CONSTRAINT [DF_PROJECTS_PROJECT_AMOUNT]  DEFAULT ((0)) FOR [PROJECT_AMOUNT]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  CONSTRAINT [DF_PROJECTS_PROJECT_ESTIMATED_VAL]  DEFAULT ((0)) FOR [PROJECT_ESTIMATED_VAL]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  CONSTRAINT [DF_PROJECTS_PROJECT_ACTUAL_VAL]  DEFAULT ((0)) FOR [PROJECT_ACTUAL_VAL]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  CONSTRAINT [DF__PROJECTS__CABINETS_NBR]  DEFAULT ((0)) FOR [CABINETS_NBR]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  CONSTRAINT [DF_PROJECTS_PROJECT_PROGRESS]  DEFAULT ((0)) FOR [PROJECT_PROGRESS]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  CONSTRAINT [DF_PROJECTS_COMPANY_ID]  DEFAULT ((-1)) FOR [COMPANY_ID]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  CONSTRAINT [DF_PROJECTS_USE_AS_TEMPLATE]  DEFAULT ((0)) FOR [USE_AS_TEMPLATE]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  CONSTRAINT [DF_PROJECTS_DISPLAY]  DEFAULT ((0)) FOR [DISPLAY]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  CONSTRAINT [DF_PROJECTS_IS_CANCELLED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  DEFAULT ((60)) FOR [EVENT_SIZE]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  CONSTRAINT [DF_PROJECTS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  CONSTRAINT [DF_PROJECTS_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  CONSTRAINT [DF_PROJECTS_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[PROJECTS] ADD  CONSTRAINT [DF_PROJECTS_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[QUOTES] ADD  CONSTRAINT [DF_PROJECT_AMOUNT]  DEFAULT ((0)) FOR [QUOTE_AMOUNT]
GO
ALTER TABLE [dbo].[QUOTES] ADD  CONSTRAINT [DF_QUOTES_CABINETS_NBR]  DEFAULT ((0)) FOR [CABINETS_NBR]
GO
ALTER TABLE [dbo].[QUOTES] ADD  CONSTRAINT [DF_QUOTES_DISPLAY]  DEFAULT ((0)) FOR [DISPLAY]
GO
ALTER TABLE [dbo].[QUOTES] ADD  DEFAULT ((0)) FOR [USE_AS_TEMPLATE]
GO
ALTER TABLE [dbo].[QUOTES] ADD  CONSTRAINT [DF_QUOTES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[QUOTES] ADD  CONSTRAINT [DF_QUOTES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[QUOTES] ADD  CONSTRAINT [DF_QUOTES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[QUOTES] ADD  CONSTRAINT [DF_QUOTES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[QUOTES] ADD  CONSTRAINT [DF_QUOTES_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[QUOTES] ADD  CONSTRAINT [DF_QUOTES_COMPANY_ID]  DEFAULT ((-1)) FOR [COMPANY_ID]
GO
ALTER TABLE [dbo].[ROLE_MENU] ADD  CONSTRAINT [DF_ROLE_MENU_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[ROLE_MENU] ADD  CONSTRAINT [DF_ROLE_MENU_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[ROLES] ADD  CONSTRAINT [DF_ROLES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[ROLES] ADD  CONSTRAINT [DF_ROLES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[ROLES] ADD  CONSTRAINT [DF_ROLES_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[ROLES] ADD  CONSTRAINT [DF_ROLES_COMPANY_ID]  DEFAULT ((-1)) FOR [COMPANY_ID]
GO
ALTER TABLE [dbo].[STATES] ADD  CONSTRAINT [DF_STATES_IS_DEFAULT]  DEFAULT ((0)) FOR [IS_DEFAULT]
GO
ALTER TABLE [dbo].[STATES] ADD  CONSTRAINT [DF_STATES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[STATES] ADD  CONSTRAINT [DF_STATES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[STATES] ADD  CONSTRAINT [DF_STATES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[STATES] ADD  CONSTRAINT [DF_STATES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[STATUS] ADD  CONSTRAINT [DF_STATUS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[STATUS] ADD  CONSTRAINT [DF_STATUS_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[STATUS] ADD  CONSTRAINT [DF_STATUS_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[STATUS] ADD  CONSTRAINT [DF_STATUS_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[STATUS] ADD  CONSTRAINT [DF_STATUS_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[STREET] ADD  CONSTRAINT [DF_STREET_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[STREET] ADD  CONSTRAINT [DF_STREET_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[STREET] ADD  CONSTRAINT [DF_STREET_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[STREET] ADD  CONSTRAINT [DF_STREET_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[STREET] ADD  CONSTRAINT [DF_STREET_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[SUPERVISOR_AREAS] ADD  CONSTRAINT [DF_SUPERVISOR_AREAS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[SUPERVISOR_AREAS] ADD  CONSTRAINT [DF_SUPERVISOR_AREAS_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[SUPERVISOR_AREAS] ADD  CONSTRAINT [DF_SUPERVISOR_AREAS_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[SUPERVISOR_AREAS] ADD  CONSTRAINT [DF_SUPERVISOR_AREAS_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[SUPERVISOR_AREAS] ADD  CONSTRAINT [DF_SUPERVISOR_AREAS_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[SUPPLIERS] ADD  CONSTRAINT [DF_SUPPLIERS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[SUPPLIERS] ADD  CONSTRAINT [DF_SUPPLIERS_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[SUPPLIERS] ADD  CONSTRAINT [DF_SUPPLIERS_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[SUPPLIERS] ADD  CONSTRAINT [DF_SUPPLIERS_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[SUPPLIERS] ADD  CONSTRAINT [DF_SUPPLIERS_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[SUPPLIERS] ADD  CONSTRAINT [DF_SUPPLIERS_COMPANY_ID]  DEFAULT ((-1)) FOR [COMPANY_ID]
GO
ALTER TABLE [dbo].[TITLES] ADD  CONSTRAINT [DF_titles_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[TITLES] ADD  CONSTRAINT [DF_TITLES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[TITLES] ADD  CONSTRAINT [DF_TITLES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[TITLES] ADD  CONSTRAINT [DF_TITLES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[TITLES] ADD  CONSTRAINT [DF_TITLES_IS_DELETED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[TITLES] ADD  CONSTRAINT [DF_TITLES_COMPANY_ID]  DEFAULT ((-1)) FOR [COMPANY_ID]
GO
ALTER TABLE [dbo].[VEHICLE_BODY_TYPES] ADD  CONSTRAINT [DF_VEHICLE_BODY_TYPES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[VEHICLE_BODY_TYPES] ADD  CONSTRAINT [DF_VEHICLE_BODY_TYPES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[VEHICLE_BODY_TYPES] ADD  CONSTRAINT [DF_VEHICLE_BODY_TYPES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[VEHICLE_BODY_TYPES] ADD  CONSTRAINT [DF_VEHICLE_BODY_TYPES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[VEHICLE_BODY_TYPES] ADD  CONSTRAINT [DF_VEHICLE_BODY_TYPES_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[VEHICLE_MAKES] ADD  CONSTRAINT [DF_VEHICLE_MAKES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[VEHICLE_MAKES] ADD  CONSTRAINT [DF_VEHICLE_MAKES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[VEHICLE_MAKES] ADD  CONSTRAINT [DF_VEHICLE_MAKES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[VEHICLE_MAKES] ADD  CONSTRAINT [DF_VEHICLE_MAKES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[VEHICLE_MAKES] ADD  CONSTRAINT [DF_VEHICLE_MAKES_IS_DELETED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[VEHICLE_MODELS] ADD  CONSTRAINT [DF_VEHICLE_MODELS_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[VEHICLE_MODELS] ADD  CONSTRAINT [DF_VEHICLE_MODELS_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[VEHICLE_MODELS] ADD  CONSTRAINT [DF_VEHICLE_MODELS_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[VEHICLE_MODELS] ADD  CONSTRAINT [DF_VEHICLE_MODELS_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[VEHICLE_MODELS] ADD  CONSTRAINT [DF_VEHICLE_MODELS_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[VEHICLES] ADD  CONSTRAINT [DF_VEHICLES_CREATION_DATE]  DEFAULT (getdate()) FOR [CREATION_DATE]
GO
ALTER TABLE [dbo].[VEHICLES] ADD  CONSTRAINT [DF_VEHICLES_MODIFIED_DATE]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[VEHICLES] ADD  CONSTRAINT [DF_VEHICLES_CREATED_BY]  DEFAULT ((-1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[VEHICLES] ADD  CONSTRAINT [DF_VEHICLES_UPDATED_BY]  DEFAULT ((-1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[VEHICLES] ADD  CONSTRAINT [DF_VEHICLES_IS_CANCELED]  DEFAULT ((0)) FOR [IS_CANCELED]
GO
ALTER TABLE [dbo].[VEHICLES] ADD  CONSTRAINT [DF_VEHICLES_COMPANY_ID]  DEFAULT ((-1)) FOR [COMPANY_ID]
GO
ALTER TABLE [dbo].[CITIES]  WITH CHECK ADD  CONSTRAINT [FK_CITIES_COUNTRIES] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRIES] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[CITIES] CHECK CONSTRAINT [FK_CITIES_COUNTRIES]
GO
ALTER TABLE [dbo].[CITIES]  WITH CHECK ADD  CONSTRAINT [FK_CITIES_STATES] FOREIGN KEY([STATE_ID])
REFERENCES [dbo].[STATES] ([STATE_ID])
GO
ALTER TABLE [dbo].[CITIES] CHECK CONSTRAINT [FK_CITIES_STATES]
GO
ALTER TABLE [dbo].[CLIENTS]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTS_CITIES] FOREIGN KEY([CLIENT_CITY])
REFERENCES [dbo].[CITIES] ([CITY_ID])
GO
ALTER TABLE [dbo].[CLIENTS] CHECK CONSTRAINT [FK_CLIENTS_CITIES]
GO
ALTER TABLE [dbo].[CLIENTS]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTS_COMPANY] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[COMPANY] ([COMPANY_ID])
GO
ALTER TABLE [dbo].[CLIENTS] CHECK CONSTRAINT [FK_CLIENTS_COMPANY]
GO
ALTER TABLE [dbo].[CLIENTS]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTS_COMPANY_TYPES] FOREIGN KEY([CLIENT_TYPE_ID])
REFERENCES [dbo].[COMPANY_TYPES] ([COMPANY_TYPE_ID])
GO
ALTER TABLE [dbo].[CLIENTS] CHECK CONSTRAINT [FK_CLIENTS_COMPANY_TYPES]
GO
ALTER TABLE [dbo].[CLIENTS]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTS_COUNTRIES] FOREIGN KEY([CLIENT_COUNTRY])
REFERENCES [dbo].[COUNTRIES] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[CLIENTS] CHECK CONSTRAINT [FK_CLIENTS_COUNTRIES]
GO
ALTER TABLE [dbo].[CLIENTS]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTS_STATES] FOREIGN KEY([CLIENT_STATE])
REFERENCES [dbo].[STATES] ([STATE_ID])
GO
ALTER TABLE [dbo].[CLIENTS] CHECK CONSTRAINT [FK_CLIENTS_STATES]
GO
ALTER TABLE [dbo].[CLIENTS]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTS_STATUS] FOREIGN KEY([CLIENT_STATUS_ID])
REFERENCES [dbo].[STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[CLIENTS] CHECK CONSTRAINT [FK_CLIENTS_STATUS]
GO
ALTER TABLE [dbo].[COMPANY]  WITH CHECK ADD  CONSTRAINT [FK_COMPANY_CITIES] FOREIGN KEY([COMPANY_CITY])
REFERENCES [dbo].[CITIES] ([CITY_ID])
GO
ALTER TABLE [dbo].[COMPANY] CHECK CONSTRAINT [FK_COMPANY_CITIES]
GO
ALTER TABLE [dbo].[COMPANY]  WITH CHECK ADD  CONSTRAINT [FK_COMPANY_COMPANY_TYPES] FOREIGN KEY([COMPANY_TYPE_ID])
REFERENCES [dbo].[COMPANY_TYPES] ([COMPANY_TYPE_ID])
GO
ALTER TABLE [dbo].[COMPANY] CHECK CONSTRAINT [FK_COMPANY_COMPANY_TYPES]
GO
ALTER TABLE [dbo].[COMPANY]  WITH CHECK ADD  CONSTRAINT [FK_COMPANY_COUNTRIES] FOREIGN KEY([COMPANY_COUNTRY])
REFERENCES [dbo].[COUNTRIES] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[COMPANY] CHECK CONSTRAINT [FK_COMPANY_COUNTRIES]
GO
ALTER TABLE [dbo].[COMPANY]  WITH CHECK ADD  CONSTRAINT [FK_COMPANY_STATES] FOREIGN KEY([COMPANY_STATE])
REFERENCES [dbo].[STATES] ([STATE_ID])
GO
ALTER TABLE [dbo].[COMPANY] CHECK CONSTRAINT [FK_COMPANY_STATES]
GO
ALTER TABLE [dbo].[CONTACTS]  WITH CHECK ADD  CONSTRAINT [FK_CONTACTS_COMPANY] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[COMPANY] ([COMPANY_ID])
GO
ALTER TABLE [dbo].[CONTACTS] CHECK CONSTRAINT [FK_CONTACTS_COMPANY]
GO
ALTER TABLE [dbo].[CONTACTS]  WITH CHECK ADD  CONSTRAINT [FK_CONTACTS_ROLES] FOREIGN KEY([CONTACT_ROLE])
REFERENCES [dbo].[ROLES] ([ROLE_ID])
GO
ALTER TABLE [dbo].[CONTACTS] CHECK CONSTRAINT [FK_CONTACTS_ROLES]
GO
ALTER TABLE [dbo].[CONTACTS]  WITH CHECK ADD  CONSTRAINT [FK_CONTACTS_STATUS] FOREIGN KEY([CONTACT_STATUS])
REFERENCES [dbo].[STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[CONTACTS] CHECK CONSTRAINT [FK_CONTACTS_STATUS]
GO
ALTER TABLE [dbo].[DEF_PROJECT_PHASES]  WITH CHECK ADD  CONSTRAINT [FK_DEF_PROJECT_PHASES_CORRESPONDANT_STATUS] FOREIGN KEY([CORRESPONDANT_STATUS])
REFERENCES [dbo].[STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[DEF_PROJECT_PHASES] CHECK CONSTRAINT [FK_DEF_PROJECT_PHASES_CORRESPONDANT_STATUS]
GO
ALTER TABLE [dbo].[DEF_PROJECT_PHASES]  WITH CHECK ADD  CONSTRAINT [FK_DEF_PROJECT_PHASES_PROJECT_TYPES] FOREIGN KEY([PROJECT_TYPE_ID])
REFERENCES [dbo].[PROJECT_TYPES] ([PROJECT_TYPE_ID])
GO
ALTER TABLE [dbo].[DEF_PROJECT_PHASES] CHECK CONSTRAINT [FK_DEF_PROJECT_PHASES_PROJECT_TYPES]
GO
ALTER TABLE [dbo].[DEF_TASKS]  WITH CHECK ADD  CONSTRAINT [FK_DEF_TASKS_DEF_PROJECT_PHASES] FOREIGN KEY([PHASE_ID])
REFERENCES [dbo].[DEF_PROJECT_PHASES] ([PHASE_ID])
GO
ALTER TABLE [dbo].[DEF_TASKS] CHECK CONSTRAINT [FK_DEF_TASKS_DEF_PROJECT_PHASES]
GO
ALTER TABLE [dbo].[DEF_TASKS]  WITH CHECK ADD  CONSTRAINT [FK_DEF_TASKS_PROJECT_TYPES] FOREIGN KEY([PROJECT_TYPE_ID])
REFERENCES [dbo].[PROJECT_TYPES] ([PROJECT_TYPE_ID])
GO
ALTER TABLE [dbo].[DEF_TASKS] CHECK CONSTRAINT [FK_DEF_TASKS_PROJECT_TYPES]
GO
ALTER TABLE [dbo].[DOCUMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTS_DOCUMENT_TYPES] FOREIGN KEY([DOCUMENT_TYPE_ID])
REFERENCES [dbo].[DOCUMENT_TYPES] ([DOCUMENT_TYPE_ID])
GO
ALTER TABLE [dbo].[DOCUMENTS] CHECK CONSTRAINT [FK_DOCUMENTS_DOCUMENT_TYPES]
GO
ALTER TABLE [dbo].[DOCUMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTS_QUOTES] FOREIGN KEY([UNIQ_ID])
REFERENCES [dbo].[QUOTES] ([QUOTE_ID])
GO
ALTER TABLE [dbo].[DOCUMENTS] CHECK CONSTRAINT [FK_DOCUMENTS_QUOTES]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMP_CONTRACT_TYPES] FOREIGN KEY([CONTRACT_TYPE_ID])
REFERENCES [dbo].[CONTRACT_TYPES] ([CONTRACT_TYPE_ID])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMP_CONTRACT_TYPES]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMP_DEPARTMENTS] FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENTS] ([DEPARTMENT_ID])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMP_DEPARTMENTS]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMP_EMPLOYEE_STATUS] FOREIGN KEY([EMP_STATUS_ID])
REFERENCES [dbo].[STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMP_EMPLOYEE_STATUS]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMP_ROLES] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLES] ([ROLE_ID])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMP_ROLES]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMP_TITLES] FOREIGN KEY([TITLE_ID])
REFERENCES [dbo].[TITLES] ([TITLE_ID])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMP_TITLES]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_CONTRACT_TYPES] FOREIGN KEY([CONTRACT_TYPE_ID])
REFERENCES [dbo].[CONTRACT_TYPES] ([CONTRACT_TYPE_ID])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_CONTRACT_TYPES]
GO
ALTER TABLE [dbo].[NOTES]  WITH CHECK ADD  CONSTRAINT [FK_NOTE_TYPES] FOREIGN KEY([NOTE_TYPE_ID])
REFERENCES [dbo].[NOTE_TYPES] ([NOTE_TYPE_ID])
GO
ALTER TABLE [dbo].[NOTES] CHECK CONSTRAINT [FK_NOTE_TYPES]
GO
ALTER TABLE [dbo].[NOTES]  WITH CHECK ADD  CONSTRAINT [FK_NOTES_QUOTES] FOREIGN KEY([UNIQ_ID])
REFERENCES [dbo].[QUOTES] ([QUOTE_ID])
GO
ALTER TABLE [dbo].[NOTES] CHECK CONSTRAINT [FK_NOTES_QUOTES]
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_MEMBERS_EMPLOYEES] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEES] ([EMP_ID])
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS] CHECK CONSTRAINT [FK_PROJECT_MEMBERS_EMPLOYEES]
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_MEMBERS_EMPLOYEES1] FOREIGN KEY([SUPERVISOR_ID])
REFERENCES [dbo].[EMPLOYEES] ([EMP_ID])
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS] CHECK CONSTRAINT [FK_PROJECT_MEMBERS_EMPLOYEES1]
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_MEMBERS_PROJECT_PHASES] FOREIGN KEY([PROJECT_PHASE_ID])
REFERENCES [dbo].[PROJECT_PHASES] ([PROJECT_PHASE_ID])
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS] CHECK CONSTRAINT [FK_PROJECT_MEMBERS_PROJECT_PHASES]
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_MEMBERS_PROJECT_TASK] FOREIGN KEY([PROJECT_TASK_ID])
REFERENCES [dbo].[PROJECT_TASK] ([PROJECT_TASK_ID])
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS] CHECK CONSTRAINT [FK_PROJECT_MEMBERS_PROJECT_TASK]
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_MEMBERS_PROJECTS] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECTS] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[PROJECT_MEMBERS] CHECK CONSTRAINT [FK_PROJECT_MEMBERS_PROJECTS]
GO
ALTER TABLE [dbo].[PROJECT_PHASES]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_PHASES_DEF_PROJECT_PHASES] FOREIGN KEY([PHASE_ID])
REFERENCES [dbo].[DEF_PROJECT_PHASES] ([PHASE_ID])
GO
ALTER TABLE [dbo].[PROJECT_PHASES] CHECK CONSTRAINT [FK_PROJECT_PHASES_DEF_PROJECT_PHASES]
GO
ALTER TABLE [dbo].[PROJECT_PHASES]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_PHASES_EMPLOYEES] FOREIGN KEY([SUPERVISOR_ID])
REFERENCES [dbo].[EMPLOYEES] ([EMP_ID])
GO
ALTER TABLE [dbo].[PROJECT_PHASES] CHECK CONSTRAINT [FK_PROJECT_PHASES_EMPLOYEES]
GO
ALTER TABLE [dbo].[PROJECT_PHASES]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_PHASES_projects] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECTS] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[PROJECT_PHASES] CHECK CONSTRAINT [FK_PROJECT_PHASES_projects]
GO
ALTER TABLE [dbo].[PROJECT_PHASES]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_PHASES_STATUS] FOREIGN KEY([PROJECT_PHASE_STATUS])
REFERENCES [dbo].[STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[PROJECT_PHASES] CHECK CONSTRAINT [FK_PROJECT_PHASES_STATUS]
GO
ALTER TABLE [dbo].[PROJECT_TASK]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_TASK_DEF_TASKS] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[DEF_TASKS] ([TASK_ID])
GO
ALTER TABLE [dbo].[PROJECT_TASK] CHECK CONSTRAINT [FK_PROJECT_TASK_DEF_TASKS]
GO
ALTER TABLE [dbo].[PROJECT_TASK]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_TASK_PROJECT_PHASES] FOREIGN KEY([PROJECT_PHASE_ID])
REFERENCES [dbo].[PROJECT_PHASES] ([PROJECT_PHASE_ID])
GO
ALTER TABLE [dbo].[PROJECT_TASK] CHECK CONSTRAINT [FK_PROJECT_TASK_PROJECT_PHASES]
GO
ALTER TABLE [dbo].[PROJECT_TASK]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_TASK_PROJECTS] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECTS] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[PROJECT_TASK] CHECK CONSTRAINT [FK_PROJECT_TASK_PROJECTS]
GO
ALTER TABLE [dbo].[PROJECT_TASK]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_TASK_STATUS] FOREIGN KEY([PROJECT_TASK_STATUS])
REFERENCES [dbo].[STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[PROJECT_TASK] CHECK CONSTRAINT [FK_PROJECT_TASK_STATUS]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_CITIES] FOREIGN KEY([PROJECT_CITY])
REFERENCES [dbo].[CITIES] ([CITY_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_CITIES]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_CLIENTS] FOREIGN KEY([CLIENT_ID])
REFERENCES [dbo].[CLIENTS] ([CLIENT_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_CLIENTS]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_COMPANY] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[COMPANY] ([COMPANY_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_COMPANY]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_CONTACTS] FOREIGN KEY([CLIENT_SUPRVISOR])
REFERENCES [dbo].[CONTACTS] ([CONTACT_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_CONTACTS]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_COUNTRIES] FOREIGN KEY([PROJECT_COUNTRY])
REFERENCES [dbo].[COUNTRIES] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_COUNTRIES]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_FLOOR_TYPES] FOREIGN KEY([FLOOR_TYPE])
REFERENCES [dbo].[FLOOR_TYPES] ([FLOOR_TYPE_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_FLOOR_TYPES]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_INSTALLER] FOREIGN KEY([INSTALLER_ID])
REFERENCES [dbo].[EMPLOYEES] ([EMP_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_INSTALLER]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_MATERIALS] FOREIGN KEY([MATERIAL_ID])
REFERENCES [dbo].[MATERIALS] ([MATERIAL_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_MATERIALS]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_PROJECT_TYPES] FOREIGN KEY([PROJECT_TYPE_ID])
REFERENCES [dbo].[PROJECT_TYPES] ([PROJECT_TYPE_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_PROJECT_TYPES]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_QUOTES] FOREIGN KEY([QUOTE_ID])
REFERENCES [dbo].[QUOTES] ([QUOTE_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_QUOTES]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_STATES] FOREIGN KEY([PROJECT_STATE])
REFERENCES [dbo].[STATES] ([STATE_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_STATES]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_STATUS] FOREIGN KEY([PROJECT_STATUS])
REFERENCES [dbo].[STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_STATUS]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_STREET] FOREIGN KEY([STREET_SUFFIX_ID])
REFERENCES [dbo].[STREET] ([STREET_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_STREET]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_SUPERVISOR] FOREIGN KEY([PROJECT_SUPERVISOR])
REFERENCES [dbo].[EMPLOYEES] ([EMP_ID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_SUPERVISOR]
GO
ALTER TABLE [dbo].[QUOTES]  WITH CHECK ADD  CONSTRAINT [FK_QUOTES_CITIES] FOREIGN KEY([QUOTE_CITY])
REFERENCES [dbo].[CITIES] ([CITY_ID])
GO
ALTER TABLE [dbo].[QUOTES] CHECK CONSTRAINT [FK_QUOTES_CITIES]
GO
ALTER TABLE [dbo].[QUOTES]  WITH CHECK ADD  CONSTRAINT [FK_QUOTES_CLIENTS] FOREIGN KEY([CLIENT_ID])
REFERENCES [dbo].[CLIENTS] ([CLIENT_ID])
GO
ALTER TABLE [dbo].[QUOTES] CHECK CONSTRAINT [FK_QUOTES_CLIENTS]
GO
ALTER TABLE [dbo].[QUOTES]  WITH CHECK ADD  CONSTRAINT [FK_QUOTES_COMPANY] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[COMPANY] ([COMPANY_ID])
GO
ALTER TABLE [dbo].[QUOTES] CHECK CONSTRAINT [FK_QUOTES_COMPANY]
GO
ALTER TABLE [dbo].[QUOTES]  WITH CHECK ADD  CONSTRAINT [FK_QUOTES_COUNTRIES] FOREIGN KEY([QUOTE_COUNTRY])
REFERENCES [dbo].[COUNTRIES] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[QUOTES] CHECK CONSTRAINT [FK_QUOTES_COUNTRIES]
GO
ALTER TABLE [dbo].[QUOTES]  WITH CHECK ADD  CONSTRAINT [FK_QUOTES_FLOOR_TYPES] FOREIGN KEY([FLOOR_TYPE])
REFERENCES [dbo].[FLOOR_TYPES] ([FLOOR_TYPE_ID])
GO
ALTER TABLE [dbo].[QUOTES] CHECK CONSTRAINT [FK_QUOTES_FLOOR_TYPES]
GO
ALTER TABLE [dbo].[QUOTES]  WITH CHECK ADD  CONSTRAINT [FK_QUOTES_MATERIALS] FOREIGN KEY([MATERIAL_ID])
REFERENCES [dbo].[MATERIALS] ([MATERIAL_ID])
GO
ALTER TABLE [dbo].[QUOTES] CHECK CONSTRAINT [FK_QUOTES_MATERIALS]
GO
ALTER TABLE [dbo].[QUOTES]  WITH CHECK ADD  CONSTRAINT [FK_QUOTES_PROJECT_TYPES] FOREIGN KEY([PROJECT_TYPE_ID])
REFERENCES [dbo].[PROJECT_TYPES] ([PROJECT_TYPE_ID])
GO
ALTER TABLE [dbo].[QUOTES] CHECK CONSTRAINT [FK_QUOTES_PROJECT_TYPES]
GO
ALTER TABLE [dbo].[QUOTES]  WITH CHECK ADD  CONSTRAINT [FK_QUOTES_STATES] FOREIGN KEY([QUOTE_STATE])
REFERENCES [dbo].[STATES] ([STATE_ID])
GO
ALTER TABLE [dbo].[QUOTES] CHECK CONSTRAINT [FK_QUOTES_STATES]
GO
ALTER TABLE [dbo].[QUOTES]  WITH CHECK ADD  CONSTRAINT [FK_QUOTES_STATUS] FOREIGN KEY([QUOTE_STATUS])
REFERENCES [dbo].[STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[QUOTES] CHECK CONSTRAINT [FK_QUOTES_STATUS]
GO
ALTER TABLE [dbo].[ROLE_MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_ROLES] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLES] ([ROLE_ID])
GO
ALTER TABLE [dbo].[ROLE_MENU] CHECK CONSTRAINT [FK_MENU_ROLES]
GO
ALTER TABLE [dbo].[STATES]  WITH CHECK ADD  CONSTRAINT [FK_STATES_COUNTRIES] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRIES] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[STATES] CHECK CONSTRAINT [FK_STATES_COUNTRIES]
GO
ALTER TABLE [dbo].[SUPERVISOR_AREAS]  WITH CHECK ADD  CONSTRAINT [FK_SUPERVISOR_AREAS_CITIES] FOREIGN KEY([CITY_ID])
REFERENCES [dbo].[CITIES] ([CITY_ID])
GO
ALTER TABLE [dbo].[SUPERVISOR_AREAS] CHECK CONSTRAINT [FK_SUPERVISOR_AREAS_CITIES]
GO
ALTER TABLE [dbo].[SUPERVISOR_AREAS]  WITH CHECK ADD  CONSTRAINT [FK_SUPERVISOR_AREAS_EMPLOYEES] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEES] ([EMP_ID])
GO
ALTER TABLE [dbo].[SUPERVISOR_AREAS] CHECK CONSTRAINT [FK_SUPERVISOR_AREAS_EMPLOYEES]
GO
ALTER TABLE [dbo].[SUPPLIERS]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIERS_CITIES] FOREIGN KEY([SUPPLIER_CITY])
REFERENCES [dbo].[CITIES] ([CITY_ID])
GO
ALTER TABLE [dbo].[SUPPLIERS] CHECK CONSTRAINT [FK_SUPPLIERS_CITIES]
GO
ALTER TABLE [dbo].[SUPPLIERS]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIERS_COUNTRIES] FOREIGN KEY([SUPPLIER_COUNTRY])
REFERENCES [dbo].[COUNTRIES] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[SUPPLIERS] CHECK CONSTRAINT [FK_SUPPLIERS_COUNTRIES]
GO
ALTER TABLE [dbo].[SUPPLIERS]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIERS_STATES] FOREIGN KEY([SUPPLIER_STATE])
REFERENCES [dbo].[STATES] ([STATE_ID])
GO
ALTER TABLE [dbo].[SUPPLIERS] CHECK CONSTRAINT [FK_SUPPLIERS_STATES]
GO
ALTER TABLE [dbo].[SUPPLIERS]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIERS_STATUS] FOREIGN KEY([SUPPLIER_STATUS_ID])
REFERENCES [dbo].[STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[SUPPLIERS] CHECK CONSTRAINT [FK_SUPPLIERS_STATUS]
GO
ALTER TABLE [dbo].[VEHICLE_MODELS]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLE_MODELS_VEHICLE_BODY_TYPES] FOREIGN KEY([BODY_TYPE])
REFERENCES [dbo].[VEHICLE_BODY_TYPES] ([BODY_TYPE_ID])
GO
ALTER TABLE [dbo].[VEHICLE_MODELS] CHECK CONSTRAINT [FK_VEHICLE_MODELS_VEHICLE_BODY_TYPES]
GO
ALTER TABLE [dbo].[VEHICLE_MODELS]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLE_MODELS_VEHICLE_MAKES] FOREIGN KEY([VEHICLE_MAKE_ID])
REFERENCES [dbo].[VEHICLE_MAKES] ([VEHICLE_MAKE_ID])
GO
ALTER TABLE [dbo].[VEHICLE_MODELS] CHECK CONSTRAINT [FK_VEHICLE_MODELS_VEHICLE_MAKES]
GO
ALTER TABLE [dbo].[VEHICLES]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLES_EMPLOYEES] FOREIGN KEY([CURRENT_DRIVER])
REFERENCES [dbo].[EMPLOYEES] ([EMP_ID])
GO
ALTER TABLE [dbo].[VEHICLES] CHECK CONSTRAINT [FK_VEHICLES_EMPLOYEES]
GO
ALTER TABLE [dbo].[VEHICLES]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLES_MODEL] FOREIGN KEY([VEHICLE_MODEL_ID])
REFERENCES [dbo].[VEHICLE_MODELS] ([VEHICLE_MODEL_ID])
GO
ALTER TABLE [dbo].[VEHICLES] CHECK CONSTRAINT [FK_VEHICLES_MODEL]
GO
ALTER TABLE [dbo].[VEHICLES]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLES_STATUS] FOREIGN KEY([VEHICLE_STATUS])
REFERENCES [dbo].[STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[VEHICLES] CHECK CONSTRAINT [FK_VEHICLES_STATUS]
GO
ALTER TABLE [dbo].[VEHICLES]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLES_VEHICLE_BODY_TYPES] FOREIGN KEY([BODY_TYPE_ID])
REFERENCES [dbo].[VEHICLE_BODY_TYPES] ([BODY_TYPE_ID])
GO
ALTER TABLE [dbo].[VEHICLES] CHECK CONSTRAINT [FK_VEHICLES_VEHICLE_BODY_TYPES]
GO
ALTER TABLE [dbo].[VEHICLES]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLES_VEHICLE_MAKES] FOREIGN KEY([VEHICLE_MAKE_ID])
REFERENCES [dbo].[VEHICLE_MAKES] ([VEHICLE_MAKE_ID])
GO
ALTER TABLE [dbo].[VEHICLES] CHECK CONSTRAINT [FK_VEHICLES_VEHICLE_MAKES]
GO
ALTER TABLE [dbo].[VEHICLES]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLES_VEHICLE_MODELS] FOREIGN KEY([VEHICLE_MODEL_ID])
REFERENCES [dbo].[VEHICLE_MODELS] ([VEHICLE_MODEL_ID])
GO
ALTER TABLE [dbo].[VEHICLES] CHECK CONSTRAINT [FK_VEHICLES_VEHICLE_MODELS]
GO
USE [master]
GO
